.header{
    width: 100%;
    position: relative;
    height: 60px;
    display: flex;
    background: #000;;
    justify-content: space-between;
    box-sizing: border-box;
    
}


.leftMenu{
    display: flex; 
    color: #fff; 
    margin-left: 460%;
    

}
.leftmenu{
    display: flex; 
    color: #fff; 
    
    

}


.leftMenu > li{
    margin: 0 10px;
    list-style: none;
    
}
.leftmenu > li{
    margin: 0 10px;
    list-style: none;
    text-decoration: none;
    
}

.leftMenu > li > a{
    color: #fff;
    text-decoration: none;
}

.leftMenu > li > a.active{
    font-weight: bold;
}
.leftmenu > li > a.active{
    font-weight: bold;
}
